
  
  .navContainer {
    display: block;
    margin-top: 1.5%;
    /* margin-left: 220%; */
    width: 100%
  }
  
  .showContainer {
    display: flex;
    margin-top: 3%;
  }

  .leftContainer {
    display: inline-block;
    /* margin-top: 10%; */
    /* margin-left: 10%; */
  }

  .middleContainer {
      margin-left: 10%;
      width: 775px;
  }

  .childImage {
      margin-top: 30%;
      margin-left: 48%;
  }

  .rightContainer {
    display: inline-block;
    /* margin-top: 10%; */
    margin-left: 10%;
    /* margin-left: 220%; */
    /* width: 20%; */
    /* margin-left: 75%; */
    /* margin-right: 5%; */
  }

  .dropdown-content {
     /* left: -80%; */
     /* display: inline; */
  }